<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<style>

        .divv {
            display: flex;
            background-color: #333;
            
        }

        .divv a {
            color: white;
            padding: 14px 20px;
            text-decoration: none;
            text-align: center;
        }

        .divv input
        {
            margin-top: 7px;
            height: 30px;
            margin-left: 1070px;
        }

        .divv button
        {
            margin-top: 7px;
            height: 30px;
        }

</style>
</head>
<body>

<div class="divv">

    <a href="">Home</a>
    
    <a href="">Contatct</a>

    <input placeholder="Search" type="search">
    <button >Search</button>

</div>
    
</body>
</html>