<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

<style>

        .divv {
             display: flex;
            justify-content: center; 
            align-items: center; 
            background-color: #333;
            margin-top: 200px;
            height: 100px; 
        }

</style>
</head>
<body>

<div class="divv">

    <h3 style="color: white;">Visit Again</h3>

</div>
    
</body>
</html>